@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

.backimage {
  margin-left: -110px;
}
.backimageRight {
  margin-right: -110px;
}
.appbuttons{
  margin-top: -120px;
}
.wrapperCom {
  max-width: 1408px;
  margin-top: -80px;
}
.test {
  height: 800px;
}

.textFade {
  opacity: 0;
  transform: translateX(-140px); /* Adjust the initial position as needed */
 
}

.textFadeRight {
  opacity: 0;
  transform: translateX(140px); /* Initial state with x = 40 */

}

.textFadeRight.active {
  opacity: 1;
  transform: translateX(0); /* Target state when in view */
}

.textFade2 {
  animation: fadeInRight 2s both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(140px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.lottieWrap {
background: linear-gradient(180deg, #19A1FC 0%, #046CF1 100%);
border-radius: 50px;
overflow: hidden;
max-width: 559px;
}

.HomeTitle {
  background: -webkit-linear-gradient(#1d75f3, #12bcf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.NavBarWrapper {
  max-width: 1408px;
  margin: auto;
}
.PageWrapper {
  max-width: 1408px;
  margin: auto;
}
.componentWrapper {
  max-width: 1408px;
  margin: auto;
  margin-top: 40px;
}
.container {
 margin-top: 67px;
 margin-left: -40px;
}
.rightPhone {
padding-left: 400px;
padding-top: 108px;
border-radius: 50px;
top: 40;
width: 740px;
}

.hero {
  background: linear-gradient(180deg, #19A1FC 0%, #046CF1 100%);
  border-radius: 50px;
  height: 600px;
}
.heroText {
  font-family: 'Urbanist';
  font-weight: 600;
  font-size: 48px;
}
.AppContainer {
  background: linear-gradient(180deg, #19A1FC 0%, #046CF1 100%);
  border-radius: 50px;
}

.mobileNav {
  width: 94%;
}

.navText {
  color: #077ACE;
}

.demoButton {
box-sizing: border-box;
justify-content: center;
align-items: center;
padding-left: 18px;
padding-top: 12px;
gap: 10px;
width: 112px;
height: 46px;
border: 1px solid #FFFFFF;
border-radius: 1000px;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #FFFFFF;
}
.demoServicesButton {
border: 1px solid #046CF1;
box-sizing: border-box;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
width: 112px;
height: 46px;
border-radius: 1000px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
background: linear-gradient(180deg, #14B3FC 0%, #1857F8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
flex: none;
order: 0;
flex-grow: 0;
  }

.butWrapHome {
  width: 115px;
  height: 45px;
  background: #FFFFFF;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 28px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.homeNavBar {
background-color: #19A1FC;
}

.buttonBubbleBlue {
  background: linear-gradient(270.1deg, #19A1FC 0.09%, #046CF1 98.4%);
  box-shadow: 0px 4px 23px rgba(59, 158, 255, 0.34);
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}
